*{
    margin: 0;
    padding: 0;
};

body{
    position: relative;
}

.container{
    position: absolute;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.base{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgb(230, 230, 5);
    box-shadow: 0 0 25px 8px;
}


.eyes{
    width: 65%;
    height: 120px;
    /* border: 1px solid red; */
    position: absolute;
    top: 15%;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_eye{
    /* border: 1px solid black; */
    width: 110px;
    height: 110px;
    padding: 5px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.right_eye{
    border: 1px solid black;
    width: 110px;
    height: 110px;
    padding: 5px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cornia_one{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

.cornia_two{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

.smile {
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    height: 140px;
    border-bottom: 28px solid #fff;
    border-radius: 50%;
    box-shadow: 0 8px 0 #ff4757; /* Optional: red inner mouth glow */
}